/* About Section */
.about {
    background-color: var(--card-bg);
  }
  
  .about-content {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .about-text {
    flex: 1;
  }
  
  .about-image {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    max-width: 240px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }

  @media (max-width:992px) {
    .about-image {
      display: none;
    }
  }